@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Space+Grotesk:wght@300..700&display=swap');

@theme {
  --font-mono: "Fira Code", monospace;
  --font-sans: "Space Grotesk", sans-serif;

  --color-bg-main: #0b0c0e;
  --color-surface-card: #16181d;
  --color-border-custom: #262931;
  --color-accent-neon: #a3e635;
  --color-text-primary: #ededed;
  --color-text-secondary: #8a8f9d;
}

body {
  background-color: var(--color-bg-main);
  color: var(--color-text-primary);
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
